@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: url('https://portalmovilidad.com/wp-content/uploads/2023/01/Vtaslatam.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#vehiculos-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(197, 248, 231);
}

form {
    border: 1px solid #080808ea;
    border-radius: 3px;
    padding: 10px;
    max-width: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(204, 204, 204);
    height: 100vh;
    
    
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    
    background-color: #1299b1;
    color: white;
    border: 1px solid #108bddbb;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    
}

#vehiculo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
    
